<!-- only active when logged in -->
<!-- contact info -->
<!-- my rating -->
<!-- if student -> current tutors (add tutor) -->
<!-- if tutor -> my subjects (add subject), current students (add student) -->

<div class="container">
  <h2 class="name">Welcome Back [Insert name here]!</h2>
  <div class="rating">
    <strong>Rating: </strong>
    <span class="star">&#9733;</span>
    <span class="star">&#9733;</span>
    <span class="star">&#9733;</span>
    <span class="star">&#9733;</span>
    <span class="star">&#9733;</span>
  </div>
</div>

