<h2 style="text-align:center">Welcome Back</h2>

<div class="form-group">
  <label for="username">Username  </label>
  <input type="text" formControlName="username" class="form-control" />

  <div class="form-group">
    <label for="password">Password  </label>
    <input type="password" formControlName="password" class="form-control" />

    <div class="form-group">
      <button class="btn btn-primary">
        <span class="spinner-border spinner-border-sm mr-1"></span>
        Log-in
      </button>
    </div>
    <button onclick="window.location.href = 'createAccount.html';">Create Account</button>
