<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--our code-->
 <h2 style="text-align:center">Welcome Back</h2>

<div class="form-group">
<label for="username">Username  </label>
<input type="text" formControlName="username" class="form-control"/>

<div class="form-group">
<label for="password">Password  </label>
<input type="password" formControlName="password" class="form-control"/>

<div class="form-group">
<button class="btn btn-primary">
    <span class="spinner-border spinner-border-sm mr-1"></span>
    Log-in
</button>

</div>
<a routerLink="C:\Users\jenkim3\Desktop\UF\Spring 2023\intro software engineering\CEN3031\frontend\src\createAccount.html">Create Account</a>
</div>
<router-outlet></router-outlet>
<!-- <a href="createAccount.html" class="button">Create Account</a> -->

