<body>
    <div class="home-page">
        <div class="flex-container">
          <div class="website-information">
            Find a Tutor  
          </div>
  
          <div class="heading-one">  
            Welcome to Find a Tutor! Students and tutors here are able to connect with each other. Anyone is eligible to make an account and get started with this free service! We make it easy for students to connect with their tutors, with a simple click of a button.          </div>
        </div>
      </div>

      <div class="description">
        <h2>
        Get started in three easy steps:
        </h2>
        <p>
            Create an account, search by subjects, and connect with a tutor you like!
        </p>
      </div>


</body>




