<mat-card class="title">
  <div class="title">
    <h1 id="h1title">Welcome to Find a Tutor!</h1>
  </div>
</mat-card>

<mat-card class="statement">
  <div class="statement">
    <h2>Mission Statement</h2>
    <p>
      Our mission at Find a Tutor is to provide accessible, effective, and personalized academic support to students of all ages and backgrounds. We believe that every student has the potential to succeed, and we are committed to empowering them with the tools and resources they need to reach their goals.
    </p>
    <p>
      Through our platform, we connect students with experienced and knowledgeable tutors who are passionate about education and dedicated to helping their students excel. Our tutors work closely with each student to identify their strengths and areas for improvement, and tailor their teaching approach to meet the unique needs and learning styles of each individual.
    </p>
    <p>
      We strive to create a supportive and collaborative learning environment that fosters academic growth, confidence, and a lifelong love of learning. Our ultimate goal is to help students achieve their academic and personal aspirations, and to empower them with the skills and knowledge they need to succeed both in and out of the classroom.
    </p>
  </div>
</mat-card>

<mat-card class="description">
  <div class="description">
    <h2>Get started in three easy steps:</h2>
    <ul>
      1. Create an account<br>
      2. Search by subjects<br>
      3. Connect with a tutor you like<br>
    </ul>
  </div>
</mat-card>
