<!-- only active when student logged in -->
<!-- search bar -->
<mat-card>
    <mat-card-content>
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Subjects</mat-label>
          <input matInput placeholder="Enter subject" name="search"
                 [(ngModel)]="formData.search">
        </mat-form-field>
      </div>

      <div class="button">
        <button mat-raised-button color="primary" type="submit">Search!</button>
      </div>
    </mat-card-content>
  </mat-card>
<!-- available tutors -->
