<!-- only active when logged in -->

<div class="main">
  <mat-card class="profile">
    <div class="sidebar">
      <img *ngIf="user.profile_picture != ''" [src]="profilePictureURL" id="profile-picture">
      <img *ngIf="user.profile_picture == ''" src="/assets/img/avatar.webp{{cacheBuster}}" id="profile-picture">
      <form>
        <button type="button" mat-flat-button (click)="fileInput.click()">Upload a profile picture</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/*">
      </form>
      <h2 id="title">{{user.title}}</h2>
    </div>
    <div class="content">
      <div class="header">
        <h1 class="name">{{user.first_name != "" ? user.first_name : "First Name"}} {{user.last_name}}</h1>
        <button mat-button [style.background-color]="setRatingBackground(user.rating)" class="rating">
          <span id="rating-number"><b>{{user.rating}}</b></span>/10
        </button>
      </div>
      <div class="about">
        <h1>About me</h1>
        <p>{{user.about}}</p>
      </div>
      <div class="price">
        <h1>Hourly rate</h1>
        <h2>${{user.price}}/hr</h2>
      </div>
      <div class="contact">
        <h1>Contact Me</h1>
        <p>Phone Number: {{user.phone}}</p>
        <p>Email: {{user.email}}</p>
        <p>Other: {{user.contact}}</p>
        <button mat-raised-button id="edit-info" (click)="openDialog()" color="primary">Edit your info</button>
      </div>
      <h1 class="courses">My Subjects</h1>
      <mat-form-field class="subjects" id="subjects" appearance="fill">
        <mat-label>Subjects</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter subjects...">
          <mat-chip-row *ngFor="let subject of subjects"
                        (removed)="remove(subject)"
                        [editable]="true"
                        (edited)="edit(subject, $event)"
                        [aria-description]="'press enter to edit ' + subject.name">
            {{subject.name}}
            <button matChipRemove [attr.aria-label]="'remove ' + subject.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input placeholder="Add Subject..."
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)" />
        </mat-chip-grid>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" id="saveSubjects" (click)="saveSubjects()">Save Subjects</button>
      </div>
      <h1>Students</h1>
      <div class="connections">
        <mat-chip-set>
          <mat-chip id="userList" *ngFor="let user of user.connections">
            <a routerLink="/users/{{user.id}}" class="connection">
              {{user.first_name}} {{user.last_name}}
            </a>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </mat-card>
  <mat-card class="reviews">
    <h1 class="name">Reviews</h1>
    <mat-card *ngFor="let review of user.reviews" class="review">
      <div class="review-header">
        <h1 style="font-size: 2.5rem; line-height: 1em;">
          {{review.review_text.split(' ').length > 5 ? review.review_text.split(' ').slice(0, 5).join(' ') : review.review_text}}...
        </h1>
        <button mat-button [style.background-color]="setRatingBackground(review.rating)" class="rating">
          <span id="rating-number"><b>{{review.rating}}</b></span>/10
        </button>
      </div>
      <p class="review-text">
        {{review.review_text}}
      </p>  
    </mat-card>
  </mat-card>
</div>
