<!-- only active when logged in -->

<div class="container">
    <h1 class="name">Welcome {{user.username}}!</h1>
    <!-- <div class="rating"> -->
      <h2 class="rating">Rating: {{user.rating}} %</h2>
      <span class="star">&#9733;</span>
      <!-- <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span> -->
    <!-- </div> -->
    <div>
      <h2 class="info">Contact Me:</h2>
      <button type="edit">Edit Contact Info</button>
    </div>
    <div>
      <h2 class="courses">My Subjects:</h2>
        <!-- only for visual at the moment -->
        <mat-chip-listbox *ngFor="let subject of user.subjects" aria-label="subjects">
          <mat-chip>
            {{subject.name}}
          </mat-chip>
        </mat-chip-listbox>
      <button type="addSubject">Add Subject</button>
    </div>
  </div>
  
  