<form #myForm="ngForm" (ngSubmit)="login(myForm)">
    <div>
        <label for="username">
            Username:
            <input type="text" name="username" [(ngModel)]="formData.username"/>
        </label>
    </div>
    <div>
        <label for="password">
            Password:
            <input type="password" name="password" [(ngModel)]="formData.password"/>
        </label>
    </div>
    <button type="submit">Go!</button>
</form>
<!-- <div class="form-group">


  <div class="form-group">


  <div></div>
  <button (click)="login()">Go!</button> -->
