<h1 mat-dialog-title>Edit you Info</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Phone number</mat-label>
          <input matInput placeholder="Enter your phone number" name="phone" id="phone">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Enter your email" name="email" id="email">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Other</mat-label>
          <input matInput placeholder="Enter other contact info" name="other" id="other">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="saveContact()">Done</button>
</div>