<form #myForm="ngForm" (ngSubmit)="register(myForm)">
    <div>
        <label for="username">
            Username:
            <input type="text" name="username" [(ngModel)]="formData.username"/>
        </label>
    </div>
    <div>
        <label for="password">
            Password:
            <input type="password" name="password" [(ngModel)]="formData.password"/>
        </label>
    </div>
    <div>
        <mat-button-toggle-group name="userType" aria-label="User Type">
            <mat-button-toggle value="tutor">Tutor</mat-button-toggle>
            <mat-button-toggle value="student">Student</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
    <button type="submit">Go!</button>
</form>

<!-- <div></div>
<button onclick="register()">Go!</button> -->