:host
    margin: auto

mat-card
    display: flex
    width: fit-content
    justify-content: center
    align-items: center
    margin: 100px auto

mat-card-title
    margin: 1em auto

mat-form-field
    display: flex
    flex: 1 1 auto

.isTutor
    display: flex
    flex-direction: row
    flex: 1 1 auto
    align-content: center
    align-items: center
    gap: 1em
    margin: 0 0 1em 0

.i-am-a
    margin: auto 0 !important


.submit
    display: flex

#submit
    margin-left: auto
    font-size: large

.name
    display: flex
    flex-direction: row
    gap: 1em