<!--<form #myForm="ngForm" (ngSubmit)="register(myForm)">
    <div>
        <label for="username">
            Username:
            <input type="text" name="username" [(ngModel)]="formData.username"/>
        </label>
    </div>
    <div>
        <label for="password">
            Password:
            <input type="password" name="password" [(ngModel)]="formData.password"/>
        </label>
    </div>
    <div>
        <mat-button-toggle-group name="userType" aria-label="User Type">
            <mat-button-toggle value="tutor">Tutor</mat-button-toggle>
            <mat-button-toggle value="student">Student</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
    <button type="submit">Go!</button>
</form>-->

<!-- <div></div>
<button onclick="register()">Go!</button> -->

<!--Previous code above in case something doesn't work-->

<form #myForm="ngForm" (ngSubmit)="register(myForm)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Create an account!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your name" name="username"
                 [(ngModel)]="formData.username">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]="formData.password">
        </mat-form-field>
      </div>


      <div class="isTutor">
        <p class="i-am-a">I am a:</p>
        <mat-button-toggle-group name="role" [(ngModel)]="formData.role" aria-label="User Type">
          <mat-button-toggle name="tutor" value="tutor" data-cy="tutor">Tutor</mat-button-toggle>
          <mat-button-toggle name="student" value="student" data-cy="student">Student</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="submit">
        <button mat-raised-button color="primary" type="submit">Create!</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
